<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/public/admin_login.css"> <!-- Ensure correct path to CSS -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin_signup">Signup</a></li>
            <li><a href="/admin/login">Admin Login</a></li>
            <li><a href="/items">Items</a></li>
            
        </ul>
    </nav>
    <h1>Admin Login Page</h1>
    <form action="/admin_login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <p style="color: red;"><%= message %></p> <!-- Display error message if login fails -->
</body>
</html>
